.lightbox-wrap {

	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

&a {
	flex-basis: 25%;

}	
}

img {
	box-shadow: 1px 1px 10px black;
}
a {
	padding: 20px;
}

@media(min-width: 1238px) {
.lightbox-wrap {
	width: 90%;
	margin: 0 auto;
}

}

