.lightbox-wrap {

	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

&a {
	flex-basis: 25%;

}	
}

img {
	box-shadow: 1px 1px 10px black;
}
a {
	padding: 20px;
}

// .mfp-fade.mfp-wrap .mfp-content {
//   opacity: 0;

//   -webkit-transition: all 0.15s ease-out;
//   -moz-transition: all 0.15s ease-out;
//   transition: all 0.15s ease-out;
// }
//  content animate it 
// .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
//   opacity: 1;
//   transform: skew(30deg, 20deg); 
// }
// /* content animate out */
// .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
//   opacity: 0;
// }

