* {
	box-sizing: border-box;
}
body {
background-color: #1c252b;	
}
header {
	display: flex;
	flex-direction: column;
}
main {
	margin: 0 20px;
	padding: 0 45px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 700px;
}
div {
	flex-basis: 25%;
}