h1 {
	color: whitesmoke;
	text-align: center;
	font-family: $font-prime;
	letter-spacing: .3em;
	text-shadow: 1px 1px 3px snow;
}

h1:first-of-type:after {
	content:'•';
	font-size: 1.4em;
	color:snow;

}

ul a {
	color:snow;
}
